@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
$slideHeight: 350px;
.imageSlider {
    position: relative;
    height: $slideHeight;
    .staticImage {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    a {
        height: 100%;
    }
    .carousel {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        .carouselSlides {
            height: 100%;
            padding: 0;
            margin: 0;
            list-style-type: none;
            .carouselSlide {
                position: absolute;
                margin-right: auto;
                margin-left: auto;
                list-style-type: none;
                text-align: center;
                height: 100%;
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s 2s, opacity 2s linear;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                p {
                    margin: 0px; //temp
                }
                &.carouselSlideActive {
                    display: block;
                    visibility: visible;
                    opacity: 1;
                    transition: opacity 2s linear;
                }
                .carouselSlideContent {
                    text-align: left;
                    position: absolute;
                    bottom: 0;
                    padding: 10px 10px 10px 10px;
                    background: rgba(255, 255, 255, 0.75);
                    color: #ffffff;
                    width: calc(100% - 20px);
                    &.InvertColor {
                        color: #000000;
                        .carouselSlideDescription {
                            a {
                                color: #000000;
                            }
                        }
                    }
                    .carouselSlideTitle {
                        margin: 0px;
                        font-size: 1pc;
                    }
                    .carouselSlideDescription {
                        margin: 0px;
                        font-size: 0.8pc;
                        a {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    .caption {
        display: block;
        background-color: #00000096;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
        max-height: 20%;
        overflow: hidden;
        color: white;
        text-align: left;
        .captionContent {
            padding: 5px 10px;
        }
        .captionTitle {
            font-weight: bold;
            &:after {
                content: ": ";
            }
        }
    }
}